{% extends "base_main.html" %}

{% block title %}
{{ network.get_ipv4cidr() }} - WhiteIPAM
{% endblock %}

{% block content %}
<main class="container mt-3">
  <div class="row">
    <div class="col">
      {% if message %}
      <div class="alert alert-danger mb-3 mt-3" role="alert">
        {{message}}
      </div>
      {% endif %}
      <ul class="list-group">
        <li class="list-group-item">名前 : {{ network.name }}</li>
        <li class="list-group-item">IPv4 : {{ network.get_ipv4cidr() }}</li>
        <li class="list-group-item">VLAN ID : {{ network.vid }}</li>
        <li class="list-group-item">メモ : {{ network.note }}</li>
      </ul>
      <div class="mt-3 mb3">
        <h3>アドレス</h3>
        <div id="address-list" class="d-flex flex-wrap">
        </div>

        <div class="modal fade" id="hostRegistModal" tabindex="-1" aria-labelledby="hostRegistModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form method="post" action="{{url_for('root.add_host')}}">
                <div class="modal-header">
                  <h5 class="modal-title" id="hostRegistModalLabel">新規ホスト作成</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {{ host_form.csrf_token }}
                  {{ host_form.network_id(value=network.id) }}
                  <div class="mb-3">
                    {{ host_form.ipv4_address.label(class_="form-label")}}
                    {{ host_form.ipv4_address(class_="form-control", id='host-regist-ipv4', readonly='')|safe}}
                  </div>
                  <div class="mb-3">
                    {{ host_form.hostname.label(class_="form-label")}}
                    {{ host_form.hostname(class_="form-control", id=host_form.hostname.name)|safe}}
                  </div>
                  <div class="mb-3">
                    {{ host_form.note.label(class_="form-label")}}
                    {{ host_form.note(class_="form-control", id=host_form.note.name)|safe}}
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="キャンセル">
                  {{ host_form.submit(class_="btn btn-primary") }}
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="hostShowModal" tabindex="-1" aria-labelledby="hostShowModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="hostShowModalLabel">ホスト</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>IPv4 : <span id="host-show-ipv4"></span></p>
                <p>ホスト名 : <span id="host-show-hostname"></span></p>
                <p>メモ : <span id="host-show-note">sss</span></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
              </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</main>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/iputil.js') }}"></script>
<script>
  'use strict';
  const HOST = 1;
  const hosts = [
    {% for host in hosts %}
      {
        'id' : {{host.id}},
        'ipv4_address' : '{{host.ipv4_address}}',
        'hostname' : '{{host.hostname}}',
        'note' : '{{host.note}}'
      },
    {% endfor %}
  ];
  const clickHostRegister = (e) => {
    document.getElementById('host-regist-ipv4').value = e.target.dataset.ip;
  };
  const clickHostShow = (e) => {
    const i = e.target.dataset.host;
    console.log(i)
    document.getElementById('host-show-ipv4').textContent = hosts[i].ipv4_address;
    document.getElementById('host-show-hostname').textContent = hosts[i].hostname;
    document.getElementById('host-show-note').textContent = hosts[i].note;
  };
  const address = '{{ network.ipv4_address }}';
  const prefix = {{ network.ipv4_prefix }};
  const subnetmask = cidr2long(prefix);
  const networkAddr = ip2long(address);
  const broadcastAddr = getBroadcastAddr(networkAddr, subnetmask);
  console.log(long2ip(networkAddr));
  console.log(long2ip(broadcastAddr));

  const addrEle = document.getElementById('address-list');

  let ipList = [];
  for (let i = networkAddr + 1; i < broadcastAddr; i++) {
    ipList.push({
      ipNum: i,
      ipStr: long2ip(i),
      label: long2hostip(i, prefix),
      type: 0,
      id: 0
    });
  }
  ipList.forEach(ip => {
    const hostBtn = document.createElement('button');
    // hostBtn.classList.add('addr','addr-none', 'btn', 'btn-outline-dark', 'btn-sm', 'me-2', 'mb-2', 'disabled');
    hostBtn.classList.add('addr','addr-none', 'btn', 'btn-sm', 'me-2', 'mb-2', 'disabled');
    hostBtn.setAttribute('data-ip', ip.ipStr);
    hostBtn.textContent = ip.label;
    addrEle.appendChild(hostBtn);
  });

  hosts.forEach((host, index) => {
    const ele = document.querySelector('[data-ip="'+host.ipv4_address+'"]');
    ele.classList.remove('addr-none');
    ele.classList.add('addr-host', 'btn-success');
    ele.setAttribute('data-host', index);
    ele.setAttribute('data-bs-toggle', 'modal');
    ele.setAttribute('data-bs-target', '#hostShowModal');
    ele.addEventListener('click', clickHostShow);
  });

  document.querySelectorAll('.addr').forEach(ele => {
    if (ele.classList.contains('addr-none')) {
      ele.classList.add('btn-outline-dark');
      ele.setAttribute('data-bs-toggle', 'modal');
      ele.setAttribute('data-bs-target', '#hostRegistModal');
      ele.addEventListener('click', clickHostRegister);
    }
    ele.classList.remove('disabled');
  });
</script>
<style>
</style>
{% endblock %}