{% extends "base_main.html" %}

{% block title %}
{{ network.get_ipv4cidr() }} - WhiteIPAM
{% endblock %}

{% block content %}
<main class="container mt-3">
  <div class="row">
    <div class="col">
      {% if message %}
        <div class="alert alert-danger mb-3" role="alert">
          {{message}}
        </div>
      {% endif %}
      <ul class="list-group">
        <li class="list-group-item">名前 : {{ network.name }}</li>
        <li class="list-group-item">IPv4 : {{ network.get_ipv4cidr() }}</li>
        <li class="list-group-item">VLAN ID : {{ network.vid }}</li>
        <li class="list-group-item">メモ : {{ network.note }}</li>
      </ul>
      <div class="mt-3 mb3">
        <h4>アドレス</h4>
        <div id="address-list" class="d-flex flex-wrap">
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/iputil.js') }}"></script>
<script>
  'use strict';
  const address = '{{ network.ipv4_address }}';
  const prefix = {{ network.ipv4_prefix }};
  const subnetmask = cidr2long(prefix);
  const networkAddr = ip2long(address);
  const broadcastAddr = getBroadcastAddr(networkAddr, subnetmask);
  console.log(long2ip(networkAddr));
  console.log(long2ip(broadcastAddr));
  
  const addrEle = document.getElementById('address-list');

  let ipList = []
  for (let i = networkAddr+1; i < broadcastAddr; i++){
    ipList.push({
      ipNum: i,
      ipStr: long2ip(i),
      label: long2hostip(i, prefix)
    });
  }
  ipList.forEach(ip => {
    const hostBtn = document.createElement('button');
    hostBtn.classList.add('host','btn', 'btn-outline-dark', 'btn-sm', 'me-2', 'mb-2');
    hostBtn.setAttribute('data-ip', ip.ipStr);
    hostBtn.textContent = ip.label;
    addrEle.appendChild(hostBtn);
  });
</script>
<style>
</style>
{% endblock %}