{% extends "base_main.html" %}

{% block title %}
{{ network.get_ipv4cird() }} - WhiteIPAM
{% endblock %}

{% block content %}
<main class="container mt-3">
  <div class="row">
    <div class="col">
      {% if message %}
        <div class="alert alert-danger mb-3" role="alert">
          {{message}}
        </div>
      {% endif %}
      <ul class="list-group">
        <li class="list-group-item">名前 : {{ network.name }}</li>
        <li class="list-group-item">IPv4 : {{ network.get_ipv4cird() }}</li>
        <li class="list-group-item">VLAN ID : {{ network.vid }}</li>
        <li class="list-group-item">メモ : {{ network.note }}</li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}

{% block script %}
<script>
  'use strict';
</script>
{% endblock %}